@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
body{
    background-color: aliceblue;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.brand img{
    width: 50px;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 80%;
    margin: 20px auto;
    border-radius: 12px;
    padding: 20px;
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.bottom {
    position: sticky;
    height: 120px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons {
    margin-top: 16px;
}

#myProgressBar {
    left: 9vw;
    width: 80vw;   
    cursor: pointer;
}

.songItemContainer {
    margin-top: 30px;
}

.songItem {
    height: 40px;
    display: flex;
    background-color: white;
    width: 75%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 33px;
}

.songItem img {
    height: 30px;
    margin: 0 20px;
    border-radius: 25px;
}

.timestamp {
    margin: 0 20px;
}

.timestamp i {
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 9vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.songBanner {
    margin-top: 30px;
    background-color: aliceblue;
}

.imgBanner {
    height: 200px;
    width: 150px;
    overflow: hidden;
}